@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.container {
  @apply mx-auto p-4;
}

html {
  font-size: 1.25em;
  background-color: $light;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

.hello {
  h1 {
    color: $dark;
    font-size: 4vw;
    font-family: "Gloock", serif;
    line-height: 0.9;
    letter-spacing: -3px;

    @media (width <= 1280px) {
      font-size: 6vw;
      letter-spacing: unset;
    }

    @media (width <= 1024px) {
      font-size: 7vw;
      letter-spacing: unset;
    }
  }

  span {
    color: $neutral;
  }
}
